<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

</head>
<body>
aboveMasterDegree	string
allowEmptyValue: false
硕士以上学历

academicWorkstationNum	string
allowEmptyValue: false
院士工作站

areaFinancialAppropriation	string
allowEmptyValue: false
区县财政拨款(万元)

authInventionPatent	string
allowEmptyValue: false
授权发明专利

authPatent	string
allowEmptyValue: false
授权专利

belongStreet	string
allowEmptyValue: false
所属乡镇街

casAcademician	string
allowEmptyValue: false
中国科学院院士

changjiangScholar	string
allowEmptyValue: false
长江学者

chiefUnit	string
allowEmptyValue: false
上级主管单位

cognizanceCode	string
allowEmptyValue: false
高新技术企业认定编号

cognizanceMethod	string
allowEmptyValue: false
认定途径及方式

collegeDegree	string
allowEmptyValue: false
大专学历

companyBrief	string
allowEmptyValue: false
企业简介

companyCode	string
allowEmptyValue: false
组织机构代码/统一社会信用代码

companyHeaderBirthday	string
allowEmptyValue: false
负责人出生年月

companyHeaderDegree	string
allowEmptyValue: false
负责人学历(学位)

companyHeaderEmail	string
allowEmptyValue: false
电子邮箱

companyHeaderMobile	string
allowEmptyValue: false
负责人手机

companyHeaderName	string
allowEmptyValue: false
企业负责人

companyHeaderSex	string
allowEmptyValue: false
企业负责人性别

companyLabNum	string
allowEmptyValue: false
企业重点实验室

companyName	string
allowEmptyValue: false
企业名称

companySource	string
allowEmptyValue: false
企业来源

companyStatus	string
allowEmptyValue: false
企业状态:0-无上缴税费 1-经营异常 2-正常经营

companyUrl	string
allowEmptyValue: false
企业网址

employeeNum	string
allowEmptyValue: false
从业人员数

engineerAcademician	string
allowEmptyValue: false
中国工程院院士

enterpriseFunds	string
allowEmptyValue: false
企业资金(万元)

enterpriseStandard	string
allowEmptyValue: false
企业标准

externalRdPerson	string
allowEmptyValue: false
外聘研发人员

financialFunds	string
allowEmptyValue: false
金融机构资金(万元)

govThousandPlan	string
allowEmptyValue: false
入选国家千人计划

graduateDegree	string
allowEmptyValue: false
研究生学历

highTechIncome	string
allowEmptyValue: false
高新技术转化的产品服务销售收入(万元)

hljjGainer	string
allowEmptyValue: false
何梁何利基金获得者

hundredTalent	string
allowEmptyValue: false
入选中科院百人计划

hundredThousandTalent	string
allowEmptyValue: false
入选百千万人才工程

icDesign	string
allowEmptyValue: false
集成电路布图设计

id	integer($int64)
industryCategory	string
allowEmptyValue: false
行业类别

industryOutputValue	string
allowEmptyValue: false
工业总产值(万元)

inventionPatentApply	string
allowEmptyValue: false
申请发明专利

isHighTechEnterpr	string
allowEmptyValue: false
是否是高新技术认定企业

linkManName	string
allowEmptyValue: false
联系人

linkManTel	string
allowEmptyValue: false
联系人电话

localAdd	string
allowEmptyValue: false
坐落地址

localArea	string
allowEmptyValue: false
坐落区县

localIncubator	string
allowEmptyValue: false
所在孵化器

localPark	string
allowEmptyValue: false
所在工业园区

mainBusnissIncome	string
allowEmptyValue: false
主营业务收入(万元)

middleTitleNum	string
allowEmptyValue: false
中级职称

municipalFinancialAppropriation	string
allowEmptyValue: false
市级财政拨款(万元)

nationalFinancialAppropriation	string
allowEmptyValue: false
国家财政拨款(万元)

netMargin	string
allowEmptyValue: false
净利润(万元)

newPlantType	string
allowEmptyValue: false
植物新品种

offshoreFunds	string
allowEmptyValue: false
国外资金(万元)

otherFunds	string
allowEmptyValue: false
其他资金(万元)

otherTech	string
allowEmptyValue: false
其它专有技术(服务)

outstandMidageExpert	string
allowEmptyValue: false
国家有突出贡献的中青年专家

ownInventionPatent	string
allowEmptyValue: false
拥有有效发明专利

ownPatent	string
allowEmptyValue: false
拥有有效专利数

patentApply	string
allowEmptyValue: false
申请专利

postdoctorWorkstationNum	string
allowEmptyValue: false
博士后工作站

productField	string
allowEmptyValue: false
主要产品(服务)所属技术领域

productName	string
allowEmptyValue: false
主要产品（服务）名称

productivityCenterNum	string
allowEmptyValue: false
生产力促进中心

projectCenterNum	string
allowEmptyValue: false
工程中心

projectScientist	string
allowEmptyValue: false
973项目首席科学家

propertyIncome	string
allowEmptyValue: false
经由知识产权或专有技术转化的产品服务销售收入(万元)

rdInput	string
allowEmptyValue: false
企业R&D投入(万元)

rdTaxReliefs	string
allowEmptyValue: false
享受研究开发费用加计扣除减免税(万元)

registerAdd	string
allowEmptyValue: false
注册地

registerCost	string
allowEmptyValue: false
注册资金（万元）

registerTime	string
allowEmptyValue: false
工商注册时间

registerType	string
allowEmptyValue: false
登记注册类型

seniorTitleNum	string
allowEmptyValue: false
高级职称

softCopyright	string
allowEmptyValue: false
软件著作权

specialGovAllowanceExpert	string
allowEmptyValue: false
享受政府特殊津贴专家

talentPerson	string
allowEmptyValue: false
新世纪优秀人才

teachInnovateLeader	string
allowEmptyValue: false
教育部创新团队带头人

techActFundsRaise	string
allowEmptyValue: false
科技活动经费筹集额(万元)

techCenterNum	string
allowEmptyValue: false
企业技术中心

techFundsExterOutput	string
allowEmptyValue: false
科技活动经费外部支出(万元)

techFundsInternalOutput	string
allowEmptyValue: false
科技活动经费内部支出(万元)

techIncubatorNum	string
allowEmptyValue: false
科技企业孵化器

techInnovateLeader	string
allowEmptyValue: false
国家自然科学基金优秀创新群体带头人

techPerson	string
allowEmptyValue: false
科技活动人员

techProjFundsRaise	string
allowEmptyValue: false
科技项目经费筹集额(万元)

techTalentPlan	string
allowEmptyValue: false
入选科技部创新人才推进计划

techTaxReliefs	string
allowEmptyValue: false
享受高新技术企业减免税(万元)

tenThousandTalent	string
allowEmptyValue: false
入选万人计划

tjExpert	string
allowEmptyValue: false
天津市授衔专家人

tjHighInnovateTalent	string
allowEmptyValue: false
天津市高层次创新型科技领军人才

tjInnovateEntrepreneur	string
allowEmptyValue: false
天津市新型企业家培养工程

tjInnovateTrainProject	string
allowEmptyValue: false
入选天津市131创新型人才培养工程

tjTalentPlan	string
allowEmptyValue: false
入选天津市创新人才推进计划

tjThousandPlan	string
allowEmptyValue: false
入选天津千人计划

totalAssets	string
allowEmptyValue: false
总资产(万元)

totalDebt	string
allowEmptyValue: false
总负债(万元)

totalIncome	string
allowEmptyValue: false
总收入(万元)

totalPayment	string
allowEmptyValue: false
上缴税费总额(万元)

toypGainer	string
allowEmptyValue: false
国家杰出青年科学基金获得者

trademarkRegister	string
allowEmptyValue: false
商标注册

universityDegree	string
allowEmptyValue: false
本科学历

year	string
allowEmptyValue: false
年份

yearProjectNum	string
allowEmptyValue: false
本年科技项目数

youngTalent	string
allowEmptyValue: false
青年拔尖人才

zlZb	string
allowEmptyValue: false
具体专利、标准或其他专有技术(服务)名称
</body>
</html>

</body>
</html>
